@font-face {
    font-family: "iconfont";
    /* Project id 2910246 */
    src: url('//at.alicdn.com/t/font_2910246_s2g0l8ta5l8.woff2?t=1637135198829') format('woff2'), url('//at.alicdn.com/t/font_2910246_s2g0l8ta5l8.woff?t=1637135198829') format('woff'), url('//at.alicdn.com/t/font_2910246_s2g0l8ta5l8.ttf?t=1637135198829') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shangyishou:before {
    content: "\e600";
}

.icon-kuaijin:before {
    content: "\e601";
}

.icon-zanting:before {
    content: "\e638";
}

.icon-weibiaoti518:before {
    content: "\e615";
}

.icon-danquxunhuan:before {
    content: "\e66d";
}

.icon-xunhuan:before {
    content: "\e623";
}

.icon-shengyinkai:before {
    content: "\eca6";
}

.icon-24gl-shuffle:before {
    content: "\ea75";
}

.icon-bofangliebiao:before {
    content: "\e696";
}

.icon-bofangduilie:before {
    content: "\e699";
}

.icon-xihuan:before {
    content: "\e86f";
}

.icon-bofang:before {
    content: "\e87c";
}

.icon-crown:before {
    content: "\e777";
}

.icon-diepian:before {
    content: "\e76c";
}

.icon-like:before {
    content: "\e69c";
}

.icon-computer:before {
    content: "\e762";
}

.icon-cloud-download:before {
    content: "\e7d9";
}

.icon-zuijinliulan:before {
    content: "\e62f";
}

.icon-recommend:before {
    content: "\e728";
}

.icon-erji:before {
    content: "\e6bf";
}

.icon-video:before {
    content: "\e820";
}

.icon-vip:before {
    content: "\e773";
}

.icon-fire:before {
    content: "\e842";
}

.icon-github:before {
    content: "\e645";
}