@font-face {
    font-family: 'iconfont';
    /* Project id 2910246 */
    src: url('//at.alicdn.com/t/font_2910246_9ykumrxu83i.woff2?t=1635849622025') format('woff2'), url('//at.alicdn.com/t/font_2910246_9ykumrxu83i.woff?t=1635849622025') format('woff'), url('//at.alicdn.com/t/font_2910246_9ykumrxu83i.ttf?t=1635849622025') format('truetype');
}

.iconfont {
    font-family: 'iconfont' !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-fire:before {
    content: '\e842';
}

.icon-github:before {
    content: '\e645';
}
