@font-face {
    font-family: "iconfont";
    /* Project id 2910246 */
    src: url('//at.alicdn.com/t/font_2910246_00kalm4fsr9pe.woff2?t=1636525308395') format('woff2'), url('//at.alicdn.com/t/font_2910246_00kalm4fsr9pe.woff?t=1636525308395') format('woff'), url('//at.alicdn.com/t/font_2910246_00kalm4fsr9pe.ttf?t=1636525308395') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-crown:before {
    content: "\e777";
}

.icon-diepian:before {
    content: "\e76c";
}

.icon-like:before {
    content: "\e69c";
}

.icon-computer:before {
    content: "\e762";
}

.icon-cloud-download:before {
    content: "\e7d9";
}

.icon-zuijinliulan:before {
    content: "\e62f";
}

.icon-recommend:before {
    content: "\e728";
}

.icon-erji:before {
    content: "\e6bf";
}

.icon-video:before {
    content: "\e820";
}

.icon-vip:before {
    content: "\e773";
}

.icon-fire:before {
    content: "\e842";
}

.icon-github:before {
    content: "\e645";
}
